span, p{
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

.mat{
    width: 190px;
    height: 100%;
}
.col,.m7l{
    width: 100%;
    height: 100%;
}
.card-action a{
    color:#ffdf00 !important;
    font-family: 'IM Fell English SC', serif;
}
.card-action {
    background-color:whitesmoke !important;
    height: 67px;
}
.card .card-image .card-title{
    margin-left: -19px;
    color: #ffdf00;
    
    
}
    

span .card-title {
    box-shadow: 1px 1px black;

}
    